@import "tailwindcss";

@theme {
  --color-brand-primary: #F99461; /* Logo Orange */
  --color-brand-accent: #14B2F0; /* Logo Cyan */
  --color-brand-dark: #0F172A;
  --color-brand-success: #00A676;
  --color-brand-grey: #F8FAFC;
  --color-brand-border: #E2E8F0;

  --font-sans: var(--font-inter);
}

:root {
  --background: #FFFFFF;
  --foreground: #0F172A;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
